/* main color : #7852e8; rgba(250,91,165,1) */
/* main color lighter : #CFC5F8; rgba(237,196,227,1) */
/* accent color : #141414; rgba(20,20,20,1) */
/* sub color lighter : #4d4d4d; rgba(77,77,77,1) */
/* sub color lightest : #7d7d7d; rgba(125,125,125,1) */
/* zindex : loader-1000 header-900*/

/* common */
	body.js-is-limit {
		height:100vh;
		overflow:hidden;
	}
/* common end */

/* bannner */
.common_banner_link {
    /* position:absolute;
    bottom:1.2rem;
    left:2rem; */
    font-size:0;
    color:#7852e8;
    transition: all ease 0.2s;
    /*padding:0.4rem 0.4rem;*/
    /*border-bottom:2px solid transparent;*/
}
.common_banner_link .icn_txt {
    /* font-weight:600; */
    font-size:1rem;
    font-weight: 500;
}
.common_banner_link .material-icons{
    font-size:1.4rem;
}
.common_banner_link .material-icons.act2{
    margin-left:-1rem;
}
    @media screen and (min-width: 0px) and (max-width: 880px) {
        .common_banner_link {
            display:none;
        }
    }
    @media screen and (min-width: 720px) {	
        .common_banner_link .material-icons{
            font-size:1.4rem;
            opacity:0;
            transition: all ease 0.2s;
            transition-delay:0.1s;
            margin-left:1rem;
        }
        .common_banner_link .material-icons.act2{
            margin-left:1rem;
            transition-delay:0s;
        }
        .common_banner_link:hover {
            color:#7852e8;
        }
        .common_banner_link:hover .material-icons{
            opacity:1;
            margin-left:0;
            transition-delay:0s;
        }
        .common_banner_link:hover .material-icons.act2{
            opacity:1;
            margin-left:-1rem;
            transition-delay:0.1s;
        }
    }
.common_banner_mobile_link {
    display:none;
}
    @media screen and (min-width: 0px) and (max-width: 880px) {
        .common_banner_mobile_link {
            display:block;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }
/* banner end */



/* list__thumb_m_01 */
.list__thumb_m_01 li{
    display: flex;
    align-items: flex-start;
    width:100%;
    padding:2rem 0.8rem;
    
    /* border-bottom:1px solid #ccc; */
}
/* .list__thumb_m_01 li:after {
    content: '';
    position: absolute;
    bottom:0;
    left:10%;
    width:80%;
    height:1px;
    background: #eee;
} */
.list__thumb_m_01 .bg_box {
    flex: none;
    width:4rem;
    margin:0 0.8rem 0 0;
    border:1px solid #eee;
    border-radius: 4px 4px;
    overflow:hidden;
}
.list__thumb_m_01 .info_box {
    
}
.list__thumb_m_01 .main_tit {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    margin: 0px 0px 0.4rem;
}
.list__thumb_m_01 .sub_tit {
    text-align: left;
    font-size: 1rem;
    color: #999;
    line-height: 1.6em;
    padding: 0 0 0 0.8rem;    
}
/* list__thumb_m_01 end */