/*	main color : #7852e8; rgba(250,91,165,1)*/
/*	main color lighter : #CFC5F8; rgba(237,196,227,1)*/
/*	accent color : #141414; rgba(20,20,20,1)*/
/*	sub color lighter : #4d4d4d; rgba(77,77,77,1)*/
/*	sub color lightest : #7d7d7d; rgba(125,125,125,1)*/
/* zindex : loader-1000 header-900*/

/* common */
	section {
		position:relative;
		/*max-width:2000px;
		margin:0 auto;
		overflow:hidden;/**/
	}
	article {
		padding:12vh 1rem 20vh;
	}
	@media screen and (min-width: 0px) and (max-width: 599px) {
		article {
			padding:12vh 0.5rem 20vh;		
		}
	}
	article .article-tit {
		text-align:center;
		font-size:2.4rem;
		font-weight:500;
		color:#4d4d4d;
		line-height:2em;
        letter-spacing:0.24rem;
        margin: 0 0 3.2rem;
    }
    article .article-tit:after {
        content:"";
        display: block;
        position: absolute;
        bottom:0;
        left:50%;
        height:2px;
        background: #7852e8;
        width:8rem;
        margin-left:-4rem;
    }
	article .article-sub-tit {
		text-align:center;
		font-size:1.2rem;
		font-weight:300;
		color:#7d7d7d;
		line-height:1.6em;
        letter-spacing:0.12rem;
        max-width:40%;
        margin:0 auto;
        word-break: keep-all;
	}
	article .article-tit.c2 {
		color:#fff;
	}
	article .article-sub-tit.c2 {
		color:#7d7d7d;
	}
	article .article-stripe {
		position:absolute;
		right:0;
		bottom:0;
		width:100%;
		border-left: 100vw solid transparent;
		border-bottom: 10vh solid #fff;
		fill:#fff;
	}
	article .article-stripe.c2 {
		position:absolute;
		right:0;
		bottom:0;
		width:100%;
		border-left: 100vw solid transparent;
		border-bottom: 10vh solid #141414;
	}
/* common end */

/* article.type-full-page */
	article.type-full-page {
		height:100vh;
		padding:0 0;
	}
	article.type-full-page .full-page-bg {
		height:100%;
		/* background:url(../img/main/main-temp-3.png) fixed no-repeat 50% 0;
		background-size:cover; */
		/*transition: all ease 0.2s;
		-moz-transition: all ease 0.2s;
		-webkit-transition: all ease 0.2s;*/
	}
	@media screen and (min-width: 0px) and (max-width: 719px) {
		article.type-full-page .full-page-bg {
			/* background-position:50% 0 !important; */
			/*background-size:auto 120%;*/
		}
	}
	article.type-full-page .full-page-overlay {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba(0,0,0,0);
    }
    article.type-full-page .main_tit{
        font-size:2.8rem;
        font-weight: 100;
        color:#fff;
        position: absolute;
        top:40%;
        left:10%;
        text-shadow: 0 0 2px #444;
    }
    article.type-full-page .main_tit em{
        font-size:3.2rem;
    }
    article.type-full-page .sub_tit{
        font-size:1.6rem;
        color:#fff;
        line-height: 1.6;
        font-weight:300;
        position: absolute;
        top: 70%;
        left:10%;
        text-shadow: 0 0 2px #444;
        width:30%;
        word-break: keep-all;
    }
/* article.type-full-page end */

/* article.type-card-box */
	article.type-card-box {
	}
	article.type-card-box .card-box{
		position:relative;
		margin:6rem auto 0;
		max-width:1200px;
		font-size:0;
	}
	article.type-card-box .card {
		display:inline-block;
		vertical-align:top;
		position:relative;
		width:25%;
		padding:0 2rem 0;
	}
	@media screen and (min-width: 480px) and (max-width: 839px) {
		article.type-card-box {
			padding:12vh 1rem 12vh;
		}
		article.type-card-box .card {
			width:50%;
			padding:0 2rem 4rem;
		}
	}
	@media screen and (min-width: 0px) and (max-width: 479px) {
		article.type-card-box .card {
			width:100%;
			padding:0 2rem 4rem;
		}
	}	
	article.type-card-box .card .card-icn {
		text-align:center;
		font-size: 3.2rem;
		margin:0 0 2rem;
		color:#7852e8;
	}
	article.type-card-box .card .card-tit {
		text-align:center;
		font-size: 1.2rem;
		margin:0 0 1.2rem;
		font-weight:700;
	}
	article.type-card-box .card .card-ctn {
		text-align:justify;
		font-size: 1rem;
		color:#999;
		line-height:1.6em;
	}
/* article.type-card-box end */

/* article.type-video-bg */
	article.type-video-bg {
		padding:0 0;
	}
	article.type-video-bg .video-bg {
		height:50vh;
		position:relative;
		overflow:hidden;
		pointer-events: none;
	}
	article.type-video-bg .video-bg .ratio-inner {
		position:absolute;
		width: 200%;
		height: 200%;
	}

	@media (min-aspect-ratio: 16/9) {
		article.type-video-bg .video-bg .ratio-inner { 
			height: 300%; 
		}
	}
	@media (max-aspect-ratio: 16/9) {
		article.type-video-bg .video-bg .ratio-inner { 
			width: 300%; 
		}
	}
	article.type-video-bg .video-bg .ratio-inner iframe,
	article.type-video-bg .video-bg .ratio-inner video{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
/* article.type-video-bg end */

/* article.type-tab-box */
	article.type-tab-box {
	}
	article.type-tab-box .tab-btn-box {
		position:relative;
		margin:6rem auto 0;
		max-width:1200px;
		font-size:0;
		text-align:center;
	}
	article.type-tab-box .tab-btn {
		display:inline-block;
		vertical-align:top;
		font-size:0.875rem;
		padding:0.6rem 1.2rem;
		margin:0 1.2rem 0 0;
		border:1px solid #ddd;
		cursor:pointer;
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
	}
	article.type-tab-box .tab-btn:last-child {
		margin:0 0 0;
	}
	article.type-tab-box .tab-btn:hover {
		border:1px solid #CFC5F8;
		color:#CFC5F8;
	}
	article.type-tab-box .tab-btn.js-is-selected {
		border:1px solid #7852e8;
		color:#7852e8;
	}
	
	article.type-tab-box .tab-ctn-box {
		position:relative;
		margin:4rem auto 0;
		max-width:1200px;
		font-size:0;
	}
	article.type-tab-box .tab-ctn {
		/*float:left;*/
		display:inline-block;
		vertical-align:top;
		width:25%;
		padding:0 0.5rem 1rem;
	}
	@media screen and (min-width: 600px) and (max-width: 839px) {
		article.type-tab-box .tab-ctn {
			width:33.3%;
		}
	}
	@media screen and (min-width: 330px) and (max-width: 599px) {
		article.type-tab-box .tab-ctn {
			width:50%;
		}
	}
	@media screen and (min-width: 0px) and (max-width: 329px) {
		article.type-tab-box .tab-ctn {
			width:100%;
		}
	}
	article.type-tab-box .tab-ctn .show-inner {
		position:relative;
		background:#fff;
		border:1px solid #ddd;
		cursor:pointer;
	}
	article.type-tab-box .tab-ctn .overlay {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba(0,0,0,0.5);
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
	}
	article.type-tab-box .tab-ctn .tit{
		line-height:2.4rem;
		position:relative;
		background:#fff;
		font-size:0.875rem;
		padding:0 0.4rem;
		text-align:center;
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
	}
	article.type-tab-box .tab-ctn .icn{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		-ms-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
		-webkit-transform:translate(-50%,-50%);
	}
	article.type-tab-box .tab-ctn:hover .show-inner{
		border:1px solid #7852e8;
		box-shadow:2px 2px 4px #999;
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
	}
	article.type-tab-box .tab-ctn:hover .tit{
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
	}
	article.type-tab-box .tab-ctn:hover .overlay{
		background:rgba(0,0,0,0);
		transition: all ease 0.3s;
		-moz-transition: all ease 0.3s;
		-webkit-transition: all ease 0.3s;
	}
/* article.type-tab-box end */

/* article.type-text-column */
	article.type-text-column {
		background:#141414;
		padding:12vh 1rem 20vh
	}
	article.type-text-column .text-column {
		position:relative;
		margin:4rem auto 0;
		max-width:800px;
		-webkit-column-gap: 2rem;
		-moz-column-gap: 2rem;
		column-gap: 2rem;
		text-align:justify;
		font-size:1rem;
		line-height:1.6rem;
		color:#7d7d7d;
		overflow:hidden;
	}
	article.type-text-column .text-column.count-2 {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	@media screen and (min-width: 0px) and (max-width: 479px) {
		article.type-text-column .text-column.count-2 {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
		}
	}
	article.type-text-column .text-column::first-letter {
		font-size: 2.8rem;
		float: left;
		padding: 0 0.4rem;
		line-height: 3.2rem;
		height: 3.2rem;
		color: #7852e8;
	}
	article.type-text-column .text-column::after {
		content:"";
		display:block;
		clear:both;
	}
	article.type-text-column .sns-box {
		position:relative;
		margin:4rem auto 0;
		max-width:760px;
		font-size:0;
		/*height:30px;
		background:red;*/
	}
	article.type-text-column .sns-box::before {
		content:"";
		display:inline-block;
		vertical-align:middle;
		width:calc(50% - 110px);
		margin: 0 10px 0 0;
		height:2px;
		background:#7852e8;
	}
	article.type-text-column .sns-box::after {
		content:"";
		display:inline-block;
		vertical-align:middle;
		width:calc(50% - 110px);
		margin: 0 0 0 10px;		
		height:2px;
		background:#7852e8;
	}
	article.type-text-column .sns-box .sns{
		position:relative;
		display:inline-block;
		vertical-align:middle;
		width:40px;
		height:40px;
		line-height:36px;
		text-align:center;
		margin:0 5px;
		cursor:pointer;
		border-radius:100%;
		border:2px solid #7852e8;
		transition:all ease 0.3s;
		-moz-transition:all ease 0.3s;
		-webkit-transition:all ease 0.3s;
	}
	/*
	article.type-text-column .sns-box .sns:last-child{
		margin:0 0 0 0;
	}
	
	article.type-text-column .sns-box .sns .ratio-ctn {
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		border-radius:100%;
		border:2px solid #7852e8;
		transition:all ease 0.3s;
		-moz-transition:all ease 0.3s;
		-webkit-transition:all ease 0.3s;
	}
	*/
	article.type-text-column .sns-box .sns .fa {
		font-size:20px;
		color:#7852e8;
		transition:all ease 0.3s;
		-moz-transition:all ease 0.3s;
		-webkit-transition:all ease 0.3s;
	}
	article.type-text-column .sns-box .sns:hover {
		border:2px solid #fff;
	}
	article.type-text-column .sns-box .sns:hover .fa{
		color:#fff;	
	}
/* artical.type-text-column end */

/* artical.type-card-box.staff */
	artical.type-card-box.staff {
		
	}
	article.type-card-box.staff .card {
		display:inline-block;
		vertical-align:top;
		position:relative;
		width:23%;
		margin:0 1%;
		padding:2.4rem 0.8rem;
		cursor:pointer;
		background:#fff;
		border:1px solid #f1f1f1;
		box-shadow:0 0 4px rgba(0, 0, 0, 0.15);
		transition:all ease 0.3s;
		top:0;
	}
	@media screen and (min-width: 600px) and (max-width: 839px) {
		article.type-card-box.staff .card {
			width:31.3%;
			margin:0 1% 2rem;
		}
	}
	@media screen and (min-width: 330px) and (max-width: 599px) {
		article.type-card-box.staff .card {
			width:48%;
			margin:0 1% 2rem;
		}
	}
	@media screen and (min-width: 0px) and (max-width: 329px) {
		article.type-card-box.staff .card {
			width:100%;
			margin:0 0 2rem;
		}
	}
	article.type-card-box.staff .card .card-img {
		padding:0.8rem 0.8rem 0;
		border:3px solid #4d4d4d;
		border-bottom:none;
		transition:border ease-in-out 0.2s;
		-moz-transition:border ease-in-out 0.2s;
		-webkit-transition:border ease-in-out 0.2s;
	}
	article.type-card-box.staff .card .card-tit {
		text-align:center;
		font-size: 1rem;
		margin:1.2rem 0 1.2rem;
		font-weight:400;
        padding:0 0.8rem;
    }
    article.type-card-box.staff .card .card-tit em{
        display: block;
        text-align: right;
        font-size: 0.875rem;
        color: #999;
        font-style: italic;
        margin: 0.4rem 0 0;
        font-weight: 300;
    }
	article.type-card-box.staff .card .card-detail {
		border:3px solid #4d4d4d;
		border-top:none;
		padding:0.4rem 0 2.4rem;
		text-align:center;
		transition:border ease-in-out 0.2s;
		-moz-transition:border ease-in-out 0.2s;
		-webkit-transition:border ease-in-out 0.2s;
	}
	article.type-card-box.staff .card .card-sub-tit {
		text-align:center;
		font-size: 1rem;
		color:#7d7d7d;
        margin:0 0 1.2rem;
        padding:0 0.8rem;
	}
	article.type-card-box.staff .card .card-hot-link {
		position:relative;
		display:inline-block;
		vertical-align:top;
		font-size:0.875rem;
		padding:0.4rem 0.8rem;
		border:2px solid #7d7d7d;
		background:#fff;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	/* test svg-01
		article.type-card-box.staff .card .card-hot-link svg{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:pink;
			vector-effect:non-scaling-stroke;
		}
		article.type-card-box.staff .card .card-hot-link svg line {
			stroke-width: 3;
			stroke: #000;
			vector-effect:non-scaling-stroke;
			*fill: none;
			-webkit-transition: all .3s ease-in-out;
			transition: all .3s ease-in-out;*
		}

		article.type-card-box.staff .card .card-hot-link:hover svg line {
			*-webkit-transition-delay: 0.1s;
			transition-delay: 0.1s;*
		}
		
		article.type-card-box.staff .card .card-hot-link svg line.top {
			stroke-dasharray: 50%, 50%; 
			vector-effect:non-scaling-stroke; 
		}
		*article.type-card-box.staff .card .card-hot-link svg line.top,
		article.type-card-box.staff .card .card-hot-link svg line.bottom {
			stroke-dasharray: 50%, 50%; 
		}*

		article.type-card-box.staff .card .card-hot-link svg line.left,
		article.type-card-box.staff .card .card-hot-link svg line.right {
			stroke-dasharray: 490 180;
		}

		article.type-card-box.staff .card .card-hot-link:hover svg line.top {
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}

		article.type-card-box.staff .card .card-hot-link:hover svg line.bottom {
			-webkit-transform: translateX(200px);
			transform: translateX(200px);
		}

		article.type-card-box.staff .card .card-hot-link:hover svg line.left {
			-webkit-transform: translateY(50px);
			transform: translateY(50px);
		}

		article.type-card-box.staff .card .card-hot-link:hover svg line.right {
			-webkit-transform: translateY(-50px);
			transform: translateY(-50px);
		}
	*/
	/* fall-back svg
		article.type-card-box.staff .card .card-hot-link .line.top{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:2px;
			background:blue;
			transition:all ease 0.3s;
			-moz-transition:all ease 0.3s;
			-webkit-transition:all ease 0.3s;
		}
		article.type-card-box.staff .card .card-hot-link .line.bottom{
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			height:2px;
			background:blue;
		}
		article.type-card-box.staff .card .card-hot-link .line.left{
			position:absolute;
			top:0;
			left:0;
			width:2px;
			height:100%;
			background:blue;
		}
		article.type-card-box.staff .card .card-hot-link .line.right{
			position:absolute;
			top:0;
			right:0;
			width:2px;
			height:100%;
			background:blue;
		}
		article.type-card-box.staff .card .card-hot-link:hover .line.top{
			transform:translate3d(calc(-100% + 8px),0,0);
			-ms-transform:translate3d(calc(-100% + 8px),0,0);
			-moz-transform:translate3d(calc(-100% + 8px),0,0);
			-webkit-transform:translate3d(calc(-100% + 8px),0,0);
			height:4px;
		}
		article.type-card-box.staff .card .card-hot-link:hover .line.bottom{
			transform:translate3d(calc(100% - 8px),0,0);
			-ms-transform:translate3d(calc(100% - 8px),0,0);
			-moz-transform:translate3d(calc(100% - 8px),0,0);
			-webkit-transform:translate3d(calc(100% - 8px),0,0);
			height:4px;
		}
		article.type-card-box.staff .card .card-hot-link:hover .line.left{
			transform:translate3d(calc(100% - 8px),0,0);
			-ms-transform:translate3d(calc(100% - 8px),0,0);
			-moz-transform:translate3d(calc(100% - 8px),0,0);
			-webkit-transform:translate3d(calc(100% - 8px),0,0);
			width:4px;
		}
	*/
	article.type-card-box.staff .card:hover {
		/*background:#f7f7f7;*/
		transition:all ease 0.3s;
		box-shadow:4px 4px 4px rgba(0, 0, 0, 0.45);
		top:-1rem;
	}
	article.type-card-box.staff .card:nth-child(1):hover .card-img{
		border:3px solid #7FFFD4;
		border-bottom:none;
	}
	article.type-card-box.staff .card:nth-child(1):hover .card-detail {
		border:3px solid #7FFFD4;
		border-top:none;
	}
	article.type-card-box.staff .card:nth-child(2):hover .card-img{
		border:3px solid #FF7F50;
		border-bottom:none;
	}
	article.type-card-box.staff .card:nth-child(2):hover .card-detail {
		border:3px solid #FF7F50;
		border-top:none;
	}
	article.type-card-box.staff .card:nth-child(3):hover .card-img{
		border:3px solid #EE82EE;
		border-bottom:none;
	}
	article.type-card-box.staff .card:nth-child(3):hover .card-detail {
		border:3px solid #EE82EE;
		border-top:none;
	}
	article.type-card-box.staff .card:nth-child(4):hover .card-img{
		border:3px solid #1E90FF;
		border-bottom:none;
	}
	article.type-card-box.staff .card:nth-child(4):hover .card-detail {
		border:3px solid #1E90FF;
		border-top:none;
	}
	/************************/
/* artical.type-card-box.staff end */

/* article.type-img-bg */
	article.type-img-bg {
		height:60vh;
		padding:0 0;
	}
	article.type-img-bg:after {
		content:"";
		display:block;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:rgba(24,66,194,0.4);
	}
	article.type-img-bg .img-bg {
		height:100%;
		background:url(../img/main/bg-coop.png) fixed no-repeat 50% 0;
		background-size:cover;
		text-align:center;
		/*transition: all ease 0.2s;
		-moz-transition: all ease 0.2s;
		-webkit-transition: all ease 0.2s;*/
	}
	@media screen and (min-width: 1980px) {
		article.type-img-bg .img-bg {
			background-size:contain;
		}
	}
		article.type-img-bg .img-bg:before {
			content:"";
			display:inline-block;
			vertical-align:middle;
			height:100%;
		}
		.slider-coopertaion {
			display:inline-block;
			vertical-align:middle;
			width:80%;
			max-width:600px;
		}
		.slide-coopertaion {
			text-align:center;
			overflow:hidden;
			/*opacity:0 !important;
			transition:all ease 0.3s;*/
		}
		.slide-coopertaion.swiper-slide-active{
			/*opacity:1 !important;
			transition:all ease 0.3s;*/
		}
		.slide-coopertaion .thum{
			display:inline-block;
			width:80px;
			height:80px;
			padding:8px 8px;
			border-radius:100%;
			overflow:hidden;
			background:#fff;
			border:2px solid #7852e8;
		}
		.slide-coopertaion .tit{
			font-size:1.2rem;
			font-weight:700;
			color:#fff;
			margin:1rem 0 0;
			letter-spacing:0.2em;
		}
		.slide-coopertaion .sub-tit{
			font-size:1rem;
			color:#7852e8;
			margin:1rem 0 0;
		}
		.slide-coopertaion .txt{
			font-size:1rem;
			color:#fff;
			margin:1rem 0 0;
			line-height:1.4em;
		}
/* article.type-img-bg end */













/* card_list__news */
.card_list__news {
    margin:4rem auto 0;
    max-width:1080px;
    font-size:0;
}
.card_list__news li {
    display:inline-block;
    vertical-align:top;
    width:25%;
    padding:0 0.5rem 1rem;
}
@media screen and (min-width: 600px) and (max-width: 839px) {
    .card_list__news li {
        width:33.3%;
    }
}
@media screen and (min-width: 330px) and (max-width: 599px) {
    .card_list__news li {
        width:50%;
    }
}
@media screen and (min-width: 0px) and (max-width: 329px) {
    .card_list__news li {
        width:100%;
    }
}
.card_list__news .gutter {
    background:#fff;
    border:1px solid #ddd;
    border-radius: 4px 4px;
    overflow: hidden;
    cursor:pointer;
}
.card_list__news .info_box {
    padding:0.8rem 0.8rem;
}
.card_list__news .tit{
    color:#000;
    text-align:center;
    font-size:1rem;
}
.card_list__news .from{
    text-align: right;
    color:#999;
    font-size:0.875rem;
    margin:0 0 0.8rem;
}
.card_list__news .sub_tit{    
    position:relative;
    background:#fff;
    font-size:0.875rem;
    padding:0 0.4rem;
    text-align:center;
}
.card_list__news .common_banner_link {
    display: inline-block;
    margin:1.6rem 0 0;
}
/* article.type_card .tab-ctn .icn{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
} */
.card_list__news li:hover .gutter{
    border:1px solid #7852e8;
    box-shadow:2px 2px 4px #999;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.card_list__news li:hover .tit{
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
.card_list__news li:hover .overlay{
    background:rgba(0,0,0,0);
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}
/* article.type_card end */







/* card_list__visual */
.card_list__visual {
    margin:4rem auto 0;
    max-width:1080px;
    font-size:0;
}
.card_list__visual li {
    display:inline-block;
    vertical-align:top;
    position:relative;
    width:25%;
    padding:2.4rem 0.8rem;
    font-size:0;
}
.card_list__visual .gutter {
    padding:2.4rem 0.8rem;
    
    background:#fff;
    /* border:1px solid #f1f1f1;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.15); */
    transition:all ease 0.3s;
    top:0;
}
/*
@media screen and (min-width: 600px) and (max-width: 839px) {
    article.type-card-box.staff .card {
        width:31.3%;
        margin:0 1% 2rem;
    }
}
@media screen and (min-width: 330px) and (max-width: 599px) {
    article.type-card-box.staff .card {
        width:48%;
        margin:0 1% 2rem;
    }
}
@media screen and (min-width: 0px) and (max-width: 329px) {
    article.type-card-box.staff .card {
        width:100%;
        margin:0 0 2rem;
    }
} */
.card_list__visual .img_box {
    padding:0.8rem 0.8rem 0;
    border:3px solid #4d4d4d;
    border-bottom:none;
    transition:border ease-in-out 0.2s;
    -moz-transition:border ease-in-out 0.2s;
    -webkit-transition:border ease-in-out 0.2s;
    text-align: center;
    overflow:hidden;
    max-height:0;
    transition:max-height ease 0.8s;
}
.card_list__visual .img_box img{
    /* border:1px solid #ccc; */
}
.card_list__visual .main_tit {
    text-align:left;
    font-size: 1rem;
    margin:1.2rem 1.2rem 1.2rem;
    word-break: keep-all;
    color:#000;
}
.card_list__visual .main_tit em{
    display: block;
    text-align: right;
    font-size:0.875rem;
    color:#999;
    font-style: italic;
    margin: 0.4rem 0 0;
    font-weight:300;
    /* text-decoration: line-through; */
}
.card_list__visual .info_box {
    border:3px solid #4d4d4d;
    border-top:none;
    padding:0.8rem 1.2rem 1.6rem;
    text-align:center;
    transition:border ease-in-out 0.2s;
    -moz-transition:border ease-in-out 0.2s;
    -webkit-transition:border ease-in-out 0.2s;
}
.card_list__visual .sub_tit {
    text-align:left;
    font-size: 1rem;
    color:#7d7d7d;
    /* margin:0 0 1.6rem; */
    word-break: keep-all;
}
.card_list__visual .hot_link__box {
    position:relative;
    display:inline-block;
    vertical-align:top;
    font-size:1rem;
    padding:0.4rem 0.8rem;
    border:2px solid #7d7d7d;
    border-radius: 4px 4px;
    background:rgba(0,0,0,0);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-weight:400;
    transition: all ease 0.2s;
    margin:1.6rem 0 0.8rem;
}
.card_list__visual li:hover .gutter{
    /*background:#f7f7f7;*/
    /* border:1px solid #eee; */
    transition:all ease 0.3s;
    /* box-shadow:4px 4px 4px rgba(0, 0, 0, 0.45); */
    /* top:-1rem; */
    /* position: absolute; */
}
.card_list__visual li:hover .img_box{
    max-height:500px;
}
.card_list__visual li:nth-child(1):hover .img_box{
    border:3px solid #7FFFD4;
    border-bottom:none;
}
.card_list__visual li:nth-child(1):hover .info_box {
    border:3px solid #7FFFD4;
    border-top:none;
}
.card_list__visual li:nth-child(2):hover .img_box{
    border:3px solid #FF7F50;
    border-bottom:none;
}
.card_list__visual li:nth-child(2):hover .info_box {
    border:3px solid #FF7F50;
    border-top:none;
}
.card_list__visual li:nth-child(3):hover .img_box{
    border:3px solid #EE82EE;
    border-bottom:none;
}
.card_list__visual li:nth-child(3):hover .info_box {
    border:3px solid #EE82EE;
    border-top:none;
}
.card_list__visual li:nth-child(4):hover .img_box{
    border:3px solid #1E90FF;
    border-bottom:none;
}
.card_list__visual li:nth-child(4):hover .info_box {
    border:3px solid #1E90FF;
    border-top:none;
}
.card_list__visual .hot_link__box:hover {
    background:rgba(0,0,0,0.3);
    color:#fff;
}
/************************/
/* artical.type-card-box.staff end */



/* item_list__random */
.item_list__random {
    margin:4rem auto 0;
    /* max-width:1080px; */
    font-size:0;
}
.item_list__random .util_inner {
    white-space: nowrap;
    overflow:hidden;
    height:320px;
}


.item_list__random .util_inner:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 34%;
    top: 33%;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-8deg);
    background: #d4c9ff;
}

.item_list__random li {
    display:inline-block;
    vertical-align:top;
    position:absolute;
    top:0;
    left:0;
    font-size:0;
    width: 150px;
    height: 150px;
    margin:0 -2rem 0 0;
    border-radius: 50%;
    box-shadow: 0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07);

    text-align: center;
    font-size:2rem;
    color:#000;
    padding:40px 0;

    opacity:0;


    background-image: url(../img/main/header-logos.png);
    background-size: 1076px 1000px;
}
.item_list__random li:nth-child(1) {
    animation: floatItem01 40s linear 0s infinite normal;
    background-position: 0 0;
    margin:100px 0 0 0;
}
.item_list__random li:nth-child(2) {
    animation: floatItem02 40s linear 2s infinite normal;
    background-position: -154px 0;
    margin: 10px 0 0 25px;
}
.item_list__random li:nth-child(3) {
    animation: floatItem03 40s linear 4s infinite normal;
    background-position: -308px 0;
    margin: 120px 0 0 0;
}
.item_list__random li:nth-child(4) {
    animation: floatItem01 40s linear 6s infinite normal;
    background-position: -462px 0;
    margin: 49px 0 0 0;
}
.item_list__random li:nth-child(5) {
    animation: floatItem02 40s linear 8s infinite normal;
    background-position: -616px 0;
    margin: 153px 0 0 0;
}
.item_list__random li:nth-child(6) {
    animation: floatItem01 40s linear 10s infinite normal;
    background-position: -770px 0;
    margin: 19px 0 0 0;
}
.item_list__random li:nth-child(7) {
    animation: floatItem01 40s linear 12s infinite normal;
    background-position: 0 -154px;
    margin: 134px 0 0 23px;
}
.item_list__random li:nth-child(8) {
    animation: floatItem02 40s linear 14s infinite normal;
    background-position: -154px -154px;
    margin: 14px 0 0 9px;
}
.item_list__random li:nth-child(9) {
    animation: floatItem03 40s linear 16s infinite normal;
    background-position: -308px -154px;
    margin: 120px 0 0 -30px;
}
.item_list__random li:nth-child(10) {
    animation: floatItem01 40s linear 18s infinite normal;
    background-position: -462px -154px;
    margin: 33px 0 0 -27px;
}
.item_list__random li:nth-child(11) {
    animation: floatItem02 40s linear 20s infinite normal;
    background-position: -616px -154px;
    margin: 150px 0 0 0;
}
.item_list__random li:nth-child(12) {
    animation: floatItem03 40s linear 22s infinite normal;
    background-position: -770px -154px;
    margin: 31px 0 0 -40px;
}
.item_list__random li:nth-child(13) {
    animation: floatItem01 40s linear 24s infinite normal;
    background-position: 0px -308px;
    margin: 113px 0 0 0;
}
.item_list__random li:nth-child(14) {
    animation: floatItem02 40s linear 26s infinite normal;
    background-position: -154px -308px;
    margin: 10px 0 0 0;
}
.item_list__random li:nth-child(15) {
    animation: floatItem03 40s linear 28s infinite normal;
    background-position: -308px -308px;
    margin: 120px 0 0 0;
}
.item_list__random li:nth-child(16) {
    animation: floatItem01 40s linear 30s infinite normal;
    background-position: -462px -308px;
    margin: 20px 0 0 0;
}
.item_list__random li:nth-child(17) {
    animation: floatItem02 40s linear 32s infinite normal;
    background-position: -616px -308px;
    margin: 140px 0 0 0;
}
.item_list__random li:nth-child(18) {
    animation: floatItem03 40s linear 34s infinite normal;
    background-position: -770px -308px;
    margin: 20px 0 0 0;
}
.item_list__random li:nth-child(19) {
    animation: floatItem01 40s linear 36s infinite normal;
    background-position: 0 -462px;
    margin: 100px 0 0 0;
}
.item_list__random li:nth-child(20) {
    animation: floatItem02 40s linear 38s infinite normal;
    background-position: -154px -462px;
    margin: -5px 0 0 0;
    background: #fff;
}




@keyframes floatItem01 {
    0%   {
        transform: translate3d(130vw,0.8rem,0);
        opacity:1;
    }
    25%  {
        transform: translate3d(90vw,-0.8rem,0);
        opacity:1;
    }
    50%  {
        transform: translate3d(50vw,0.8rem,0);
        opacity:1;
    }
    75%  {
        transform: translate3d(10vw,-0.8rem,0);
        opacity:1;
    }
    99% {
        opacity:1;
    }
    100% {
        transform: translate3d(-30vw,0.8rem,0);
        opacity:0;
    }
}
@keyframes floatItem02 {
    0%   {
        transform: translate3d(130vw,-0.4rem,0) scale(0.8);
        opacity:1;
    }
    25%  {
        transform: translate3d(90vw,0.8rem,0) scale(0.8);
        opacity:1;
    }
    50%  {
        transform: translate3d(50vw,-0.2rem,0) scale(0.8);
        opacity:1;
    }
    75%  {
        transform: translate3d(10vw,0.4rem,0) scale(0.8);
        opacity:1;
    }
    99% {
        opacity:1;
    }
    100% {
        transform: translate3d(-30vw,-0.8rem,0) scale(0.8);
        opacity:0;
    }
}
@keyframes floatItem03 {
    0%   {
        transform: translate3d(130vw,-0.8rem,0) scale(0.6);
        opacity:1;
    }
    25%  {
        transform: translate3d(90vw,0.4rem,0) scale(0.6);
        opacity:1;
    }
    50%  {
        transform: translate3d(50vw,-0.4rem,0) scale(0.6);
        opacity:1;
    }
    75%  {
        transform: translate3d(10vw,0.8rem,0) scale(0.6);
        opacity:1;
    }
    99% {
        opacity:1;
    }
    100% {
        transform: translate3d(-30vw,-0.8rem,0) scale(0.6);
        opacity:0;
    }
}
/* item_list__random end */