/* temp */
body {

}

.temp_banner {
    /*padding:100px 0 0;
    background: CornflowerBlue ;*/
    max-width:1232px;
    margin:0 auto;
    padding:0 0 20px;
}
.swiper-container {
    // max-width:1150px;
    // width: 100%;
    // margin-left: auto;
    // margin-right: auto;
    // height:414px;
}
.swiper-pagination {
    max-width:1200px;
    margin:0 auto;
    text-align: center;
    position:relative;
    padding:12px 0;
}
.swiper-pagination-bullet {
    width:12px;
    height:12px;
    margin:0 4px;
}
.swiper-slide {
    background-size: cover;
    background-position: center center;
    overflow:hidden;
}
.gallery-top {
    width: 100%;
}
.gallery-thumbs {
    height: 125px;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}
.list_module {
    background: #fff;
}
.list_module__bg {
    background: #f5f5f5;
}
.btn__go_top.on {
    bottom:120px;
}
section.album_view {
    padding:140px 0 60px;
    background: #ccc;
}
section.page__upload {
    padding:140px 0 60px;
    background: #ccc;
}
section.page__upload .width_inner{
    max-width: 900px;
    margin:0 auto;
    font-size:0;
    background: #fff;
    min-height: 100vh;
    padding:40px 20px;
    border-radius:8px 8px;
    box-shadow: 8px 8px 0 #999;
}
/* temp end */

/* vimeo_player */
// .vimeo_player__mini {
//     position:fixed;
//     bottom:80px;
//     right:80px;
//     width:400px;
//     background: #000;
//     z-index: 1000;
//     font-size:0;
//     display:none;
//     box-shadow: 4px 4px 0 CornflowerBlue;
// }
// .vimeo_player__mini.on {
//     display:block;
// }
// .vimeo_player__mini .ratio_inner {
//     padding-top: 56.25%;
// }
// .vimeo_player__mini iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }
// .vimeo_player__mini .btn_area {
//     position: absolute;
//     top:-24px;
//     right:0;
//     padding:0 8px 0 0;
//     white-space: nowrap;
// }
// .vimeo_player__mini .btn_change_bar {
//     display: inline-block;
//     vertical-align: middle;
//     color:#000;
//     cursor: pointer;
//     padding:0 8px;
// }
// .vimeo_player__mini .btn_close__vimeo {
//     display: inline-block;
//     vertical-align: middle;
//     color:#000;
//     cursor: pointer;
// }
// .vimeo_player__bar {
//     /* position:fixed;
//     bottom:0;
//     left:0;
//     width:100%; */
//     background: #000;
//     z-index: 1000;
//     font-size:0;
//     display:none;
// }
// .vimeo_player__bar.on {
//     display:block;
// }
// .vimeo_player__bar .width_inner {
//     margin:0 auto;
//     max-width:1280px;
//     padding:0 0 0 240px;
//     height:120px;
// }
// .vimeo_player__bar .width_inner:before {
//     content:"";
//     display:inline-block;
//     vertical-align: middle;
//     height:100%;
// }
// .vimeo_player__bar embed {
//     position:absolute;
//     top:0;
//     left:0;
//     width:240px;
//     height:120px;
// }
// .vimeo_player__bar .info_area {
//     /*padding:12px 12px;*/
//     width:400px;
//     display: inline-block;
//     vertical-align: middle;
// }
// .vimeo_player__bar .tit{
//     padding:0 0 12px;
//     color:#fff;
//     font-size:20px;
//     font-weight: 700;
//     cursor: pointer;
// }
// .vimeo_player__bar .uploader{
//     padding:0 0 8px;
//     color:CornflowerBlue;
//     font-size:14px;
//     cursor: pointer;
// }
// .vimeo_player__bar .view{
//     font-size:14px;
//     color:#ccc;

//     display: inline-block;
//     vertical-align: middle;
//     padding:0 8px 0 0;
// }
// .vimeo_player__bar .date{
//     font-size:14px;
//     color:#ccc;

//     display: inline-block;
//     vertical-align: middle;
// }
// .vimeo_player__bar .btn_area {
//     display: inline-block;
//     vertical-align: middle;
//     padding:12px 12px;
// }
// .vimeo_player__bar .btn_area .btn {
//     margin:0 12px 0 0;
// }

.btn_change_mini {
    position:absolute;
    top:8px;
    right:8px;
    color:#fff;
    cursor:pointer;
}
/* vimeo_player end*/

/* video_view */
.video_area {
    background: #000;
    padding:100px 0 0;
}
.video_area .width_inner{
    max-width:1280px;
    margin:0 auto;
}
.video_area .ratio_inner {
    padding-top: 56.25%;
}
.video_area iframe {
    top: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
.video_view_info__temp {
    max-width:1280px;
    margin:0 auto;
    min-height: 1600px;
    line-height: 800px;
    text-align: center;
    font-size:24px;
    color:#000;
    background: Azure ;
}
/* video_view end */

/* form */
.tit__content_area {
    font-size: 18px;
    color: #282828;
    font-weight: 700;
    padding: 0 4px 8px;
    border-bottom: 1px solid #aaa;
    margin: 0 0 20px;
}
/* form end */

/* loader__video_upload */
.loader__video_upload {
    position:fixed;
    top:-10%;
    left:-10%;
    right:-10%;
    bottom:-10%;
    background: rgba(0,0,0,0.7);
    z-index: 1200;
    display:none;
}
.loader__video_upload.on {
    display:block;
}
.loader__video_upload .position_inner {
    position:absolute;
    text-align: center;
}
.info__loader__video_upload {
    color:#fff;
    font-size:16px;
    text-align: center;
    margin:20px 0 0;
}
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}
@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
/* loader__video_upload end */

/* music player */
/*.music_player {
    padding:140px 0 0;
}*/
/* music player end */

/* list_ctn_box__channel */
.list_ctn_box__channel {
    font-size:0;
    text-align: left;
}
.list_ctn_box__channel > li{
    display:inline-block;
    vertical-align: top;
    width:25%;

    cursor: pointer; /*temp*/
}
.list_ctn_box__channel > li .slice_inner{
    margin:4px 4px;
}
.list_ctn_box__channel > li .bg_box {
    padding-top:88%;
    overflow:hidden;
    border:1px solid #eee;
    border-radius: 4px 4px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.list_ctn_box__channel > li .bg_box:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    /*background: rgba(255,255,255,0.6);*/
    background: rgba(0,0,0,0.4);
}
.list_ctn_box__channel > li .bg_box .full_inner {
    position: absolute;
    top:0;
    width:100%;
    left:0;
    height:100%;
    padding:1.6rem 1.6rem;
}
.list_ctn_box__channel > li .bg_box .full_inner .tit{
    font-size:22px;
    color:#fff;
    word-break: keep-all;
    text-shadow: rgb(136, 136, 136) 1px 1px 1px;
    max-height: 56px;
    line-height: 28px;
    margin:0 0 1rem 0;
}
.list_ctn_box__channel > li .bg_box .full_inner .total__track{
    font-size:14px;
    color:#fff;
    padding:0 8px 0 0;
    text-shadow: rgb(136, 136, 136) 1px 1px 1px;
}
.list_ctn_box__channel > li .bg_box .full_inner .date{
    font-size:14px;
    color:#ccc;
    text-shadow: rgb(136, 136, 136) 1px 1px 1px;
}
.list_ctn_box__channel > li .bg_box .full_inner .list_track__mini{
    position:absolute;
    left:1.6rem;
    bottom:1.6rem;
}
.list_ctn_box__channel > li .bg_box .full_inner .list_track__mini > li{
    padding:0 0 1rem 50px;
}
.list_ctn_box__channel > li .bg_box .full_inner .list_track__mini > li:last-child{
    padding:0 0 0 50px;
}
.list_ctn_box__channel > li .bg_box .full_inner .list_track__mini > li .thumb_box{
    position:absolute;
    top:0;
    left:0;
    width:40px;
    height:40px;
    overflow:hidden;
    border:1px solid #eee;
    border-radius: 4px 4px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.list_ctn_box__channel > li .bg_box .full_inner .list_track__mini > li .track_name {
    font-size:12px;
    color:#fff;
    line-height: 16px;
    padding:4px 0 0;
    text-shadow: rgb(136, 136, 136) 1px 1px 1px;
}
.list_ctn_box__channel > li .bg_box .full_inner .list_track__mini > li .artist_name {
    font-size:12px;
    color:#ccc;
    line-height: 16px;
    padding:0 0 4px;
    text-shadow: rgb(136, 136, 136) 1px 1px 1px;
}
.list_ctn_box__channel > li .bg_box .full_inner .icon_play{
    position:absolute;
    right:1.6rem;
    bottom:1.6rem;
}
.list_ctn_box__channel > li .bg_box .full_inner .icon_play i{
    font-size: 48px;
    color:#fff;
}
.list_ctn_box__channel > li .bg_box .full_inner {

}
.list_ctn_box__channel > li.type_02 .bg_box{
    padding:60% 0 0;
}
.list_ctn_box__channel > li.type_02 .list_track__mini_outer {
    overflow:hidden;
    padding:8px 8px;
    height:76px;
}
.list_ctn_box__channel > li.type_02 .list_track__mini {
    position:absolute;
    left:0;
    top:0;
    height:76px;
    white-space: nowrap;
}
.list_ctn_box__channel > li.type_02 .list_track__mini > li{
    display: inline-block;
    vertical-align: top;
    width:60px;
    height:76px;
}
.list_ctn_box__channel > li.type_02 .list_track__mini > li .thumb_box{
    width:60px;
    height:60px;
    overflow:hidden;
    border:1px solid #eee;
    border-radius: 4px 4px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.list_ctn_box__channel > li.type_02 .list_track__mini > li .artist_name {
    font-size:12px;
    color:#999;
    line-height: 16px;
    padding:0 0 4px;
    text-align: center;
}
/* list_ctn_box__channel end */



/* list__album__slider_banner */
.list__album {
    font-size:0;
    text-align: left;
}
.list__album > li{
    display:inline-block;
    vertical-align: top;
    width:16.66%;

    cursor: pointer; /*temp*/
}
.list__album > li .slice_inner{
    margin:4px 4px;
}
.list__album > li .img_box {
    padding-top:100%;
    overflow:hidden;
    border:1px solid #eee;
    border-radius: 4px 4px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.list__album > li .dim_outer {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.8);
    transform:translate3d(0,80%,0);
    transition:all ease 0.2s;

    cursor: pointer; /*temp*/
}

.list__album > li:hover .dim_outer{
    background: rgba(0,0,0,0.4);
    transform:translate3d(0,0,0);
}
.list__album > li .info_box {
    width:100%;

    /*top:2rem;*/
    transition:all ease 0.3s;
    position:absolute;
    left:1rem;
    top:1rem;
}
/*
.list__album > li:hover .info_box {
    top:50%;
}*/
.list__album > li .tit {
    font-size:1rem;
    color:#fff;
    margin:0 0 0.6rem;
}
.list__album > li .artist {
    font-size:0.9rem;
    color:#ccc;
    margin:0 0 0.6rem;
}
.list__album > li .date {
    font-size:0.9rem;
    color:#ccc;
}
.list__album > li .icon__box {
    position:absolute;
    right:1rem;
    bottom:1rem;
    color:#fff;

}
.list__album > li .icon__box i{
    font-size:28px;
}
/* list__album__slider_banner end */














/* refactory */
section {
    padding:140px 0 0 0;
    display:none;
    min-height: 100vh;
}
section.on {
    display: block;
}
.article {
    background: #fff;
    font-size:0;
}
.article.has_bg_color {
    /*background: #f5f5f5;*/
}
.article > .width_limiter {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px 60px;
}
.article > .width_limiter.no_space {
    padding:0 20px;
}
@media screen and (min-width: 0px) and (max-width: 720px) {
    .article > .width_limiter {
        padding:24px 8px 32px;
    }
    .article > .width_limiter.no_space {
        padding:0 8px;
    }
}
.tit_box__article {    
    margin:0 4px 20px;
}
.tit_box__article.only_tit {
    margin:0 4px 0;
    // border-bottom:1px solid #ccc;
}
// .tit_box__article:before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     -ms-transform: translate(-50%,-50%);
//     -moz-transform: translate(-50%,-50%);
//     -webkit-transform: translate(-50%,-50%);
//     width: 100%;
//     height: 1px;
//     background: #ccc;
// }
// .tit_box__article.only_tit:before {
//     display:none;
// }
.tit_box__article:after {
    content:"";
    display:block;
    clear:both;
}
.tit_box__article .fl_left{ /*sp*/
    padding:0 12px 0 0;
    background: #fff;
}
.tit_box__article .fl_left.with_icn{ /*sp*/
    padding:0 12px 0 40px;
    background: #fff;
}
.tit_box__article .fl_left .tit_icn {
    position:absolute;
    left:0;
    width:32px;
    height:auto;
}
.article.has_bg_color .fl_left{
    /*background: #f5f5f5;*/
}
@media screen and (min-width: 0px) and (max-width: 720px) {
    .tit_box__article .fl_left{ /*sp*/
        font-size: 16px;
    }
}
.tit_box__article .fl_right{ /*sp*/
    padding: 0 0 0 12px;
    background: #fff;
    transition: all ease 0.2s;
    cursor: pointer;
    text-align:right;
}
.article.has_bg_color .fl_right{
    /*background: #f5f5f5;*/
}
@media screen and (min-width: 721px) {
    .tit_box__article .fl_right:hover { /*sp*/
        color:#000;
    }
}


.util_box__card{
    position:absolute;
    top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
   -moz-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   text-align: center;
}
.util_box__card i{
    color:#fff;
    margin:4px 0;
    font-size:24px;
    cursor: pointer;
}
.util_box__card i:first-child{
    font-size:16px;
}
// @media screen and (min-width: 721px) {
//     .util_box__card i:hover{
//         color:#5A5CD1;
//     }
// }
.util_box__card .btn_play_list {
    width:225px;
    height:auto;
}
.util_box__card p {
    font-size:16px;
    color:#fff;
    margin:4px 0;
}

.floting_box {
    position:absolute;
    top:142px;
    left:0;
    right:0;
    z-index:800;
}
.floting_box .floating_width{
    width:calc(100% - 200px);
    max-width:1480px;
    margin:0 auto;
}
.floting_box .floating_left {
    position:absolute;
    top:0;
    left:-100px;
    box-shadow: 2px 2px 4px 0 #ccc;
}
.floting_box img {
    width:200px;
    height:auto;
}
.floting_box .floating_right {
    position:absolute;
    top:0;
    right:-100px;
    box-shadow: -2px 2px 4px 0 #ccc;
}
body {
    overflow-x:hidden;
}
.banner_m {
    width:1232px;
    margin:0 auto;
}
footer {
    display:none !important
}