/* card_video */
.card_video {
    font-size:0;
    text-align: left;
}
.card_video > li{
    display:inline-block;
    vertical-align: top;
    width:20%;
    transition:all ease 0.2s;
    cursor:pointer;
}
@media screen and (min-width: 981px) and (max-width: 1100px) {
}
@media screen and (min-width: 801px) and (max-width: 980px) {
}
@media screen and (min-width: 721px) and (max-width: 800px) {
}
@media screen and (min-width: 421px) and (max-width: 720px) {
}
@media screen and (min-width: 351px) and (max-width: 421px) {
}
@media screen and (min-width: 0px) and (max-width: 350px) {
}
.card_video .space_setter{
    margin: 4px 4px;
    background: #fff;
    overflow: hidden;
}
.card_video .thumb_box {
    transition:all ease 0.6s;
}
.card_video .icon__video {
    position: absolute;
    width: 53px;
    height: 30px;
    border-radius: 4px 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    box-shadow: 0 0 1px #eee;
}
.card_video .icon__video i{
    position:absolute;
    color:MediumTurquoise;
}
.card_video .info_box {
    padding:16px 8px 8px;
    border: 1px solid #eee;
    border-top:none;
}