/* card_album */
.card_album {
    font-size: 0;
    text-align: left;
}

.card_album>li {
    display: inline-block;
    vertical-align: top;
    width: 14.285%;
    transition: all ease 0.2s;
    cursor: pointer;
}

@media screen and (min-width: 981px) and (max-width: 1100px) {}

@media screen and (min-width: 801px) and (max-width: 980px) {}

@media screen and (min-width: 721px) and (max-width: 800px) {}

@media screen and (min-width: 421px) and (max-width: 720px) {}

@media screen and (min-width: 351px) and (max-width: 421px) {}

@media screen and (min-width: 0px) and (max-width: 350px) {}

.card_album .space_setter {
    margin: 4px 4px 20px;
    background: #fff;
    // border-radius: 4px 4px;
    overflow: hidden;
}

.card_album .thumb_box {
    transition: all ease 0.6s;
}

.card_album .info_box {
    padding: 16px 8px 8px;
    // border: 1px solid #eee;
    border-top: none;
    // border-radius: 0 0 4px 4px;
}
.card_album .util_box__card {
    display:none;
}
.card_album li:hover .util_box__card {
    display:block;
}
.card_album .util_box__card i{
    font-size:28px !important;
}
.card_album .util_box__card .btn_play_list_sm {
    width:120px;
    height:auto;
}