



/* card_track */
.card_track {
    font-size:0;
    text-align: left;
}
.card_track > li{
    display:inline-block;
    vertical-align: top;
    width:16.666%;
    transition:all ease 0.2s;
    cursor:pointer;
}
@media screen and (min-width: 981px) and (max-width: 1100px) {
}
@media screen and (min-width: 801px) and (max-width: 980px) {
}
@media screen and (min-width: 721px) and (max-width: 800px) {
}
@media screen and (min-width: 421px) and (max-width: 720px) {
}
@media screen and (min-width: 351px) and (max-width: 421px) {
}
@media screen and (min-width: 0px) and (max-width: 350px) {
}
.card_track .space_setter{
    margin: 4px 4px;
    // background: #fafafa;
    padding:4px 4px;
    // border:1px solid #eee;
}
.card_track .outer__thumb_box {
    width:70%;
}
.card_track .thumb_box {
    transition:all ease 0.6s;
}
.card_track .img_box__cd {
    width:80%;
    position:absolute;
    top:10%;
    right:0;
    transition:all ease 0.6s;
    transform: translate3d(20%,0,0) rotate(0deg);
}
/*
.card_track .outer__thumb_box {
    width:88%;
}
.card_track .thumb_box {
    transition:all ease 0.6s;
}
.card_track .img_box__cd {
    width:28%;
    position:absolute;
    top:10%;
    left:86%;
    transition:all ease 0.2s;
}
*/
.card_track .info_box {
    margin:12px 0 0;
    padding:4px 8px;
    // background: #f5f5f5;
    // border:1px solid #eee;
}
@media screen and (min-width: 721px) {
    .card_track > li:hover .img_box__cd {
        /*animation: ani_02 1.6s linear 0.3s infinite;
        -ms-animation: ani_02 1.6s linear 0.3s infinite;
        -webkit-animation: ani_02 1.6s linear 0.3s infinite;*/
        transform: translate3d(50%,0,0) rotate(90deg);
    }
    /*
    .card_track > li:hover .thumb_box{
        transform:translate3d(0,-10%,0);
    }*/
}

.card_track .util_box__card {
    display:none;
}
.card_track li:hover .util_box__card {
    display:block;
}
.card_track .util_box__card i{
    font-size:28px !important;
}
.card_track .util_box__card .btn_play_list_sm {
    width:80px;
    height:auto;
}
/* card_track end */