@charset "utf-8";

.dp_b {
   display:block;
}
.dp_ib_t {
   display: inline-block;
   vertical-align: top;
}
.dp_ib_m {
   display: inline-block;
   vertical-align: middle;
}
.dp_ib_b {
   display: inline-block;
   vertical-align: bottom;
}
.dp_table {
   display:table;
   width:100%;
   border-collapse: collapse;
}
.dp_tr {
   display: table-row;
}
.dp_tc {
   display: table-cell;
   vertical-align: middle;
}
.dp_none {
   width: 0.1px;
   height: 0.1px;
   opacity: 0;
   overflow: hidden;
   position: absolute;
   z-index: -1;
}

.dp_flex {
   display: flex;
}

.flc_wrap {
   flex-wrap: wrap;
}
.flc_nowrap {
   flex-wrap: nowrap;
}

.flc_jc_start {
   justify-content: flex-start;
}
.flc_jc_end {
   justify-content: flex-end;
}
.flc_jc_center {
   justify-content: center;
}
.flc_jc_sb {
   justify-content:space-between;
}
.flc_jc_sr {
   justify-content: space-around;
}
.flc_jc_se {
   justify-content: space-evenly;
}

.flc_al_start {
   align-items: flex-start;
}
.flc_al_end {
   align-items: flex-end;
}
.flc_al_center {
   align-items: center;
}
.flc_al_stretch {
   align-items: stretch;
}
.flc_al_baseline {
   align-items: baseline;
}

.flc_row {
   flex-direction: row;
}
.flc_col {
   flex-direction: column;
}


.fli_bs_50 {
   flex-basis: 50%;
}
.fli_bs_48 {
   flex-basis: 48%;
}
.fli_bs_44 {
   flex-basis: 44%;
}
.fli_bs_40 {
   flex-basis: 40%;
}
.fli_bs_23 {
   flex-basis: 23%;
}