/* footer fixed! 190521 */
footer {
   font-size:0;
   padding:40px 0;
}
footer > .width_inner{
   max-width:1280px;
   margin:0 auto;
   padding:20px 20px;
}
footer > .width_inner:after {
   content:"";
   position:absolute;
   bottom:0;
   left:20px;
   right: 20px;
   height: 1px;
   background: #aaa;
}
@media screen and (min-width: 0px) and (max-width: 980px) {
   footer > .width_inner {
       padding:0 12px;
   }
   footer > .width_inner:after {
       display:none;
   }
}
.logo__footer {
   /*display: inline-block;
   vertical-align: middle;
   margin:0 16px 0 0;
   width:168px;
   height:13px;
   background: url(/static/kr/img/music/logo__footer.png) no-repeat center center;
   background-size: 100% 100%; 이미지형 임시 저장*/
   display: inline-block;
   vertical-align: middle;
   font-family: 'Promethean';
   font-size: 22px;
   color: #7f7f7f;
   font-weight: 100;
   padding:0 8px;
}
@media screen and (min-width: 0px) and (max-width: 980px) {
   .logo__footer {
       display: block;
   }
}
.info__footer {
   display: inline-block;
   vertical-align: middle;
}
@media screen and (min-width: 0px) and (max-width: 980px) {
   .info__footer {
       display: block;
       padding:12px 0;
       margin:12px 0;
       border-top:1px solid #eee;
       border-bottom:1px solid #eee;
   }
}
.info__footer > li{
   display: inline-block;
   vertical-align: middle;
   font-size: 13px;
   color:#282828;
   padding:0 6px;
}
@media screen and (min-width: 0px) and (max-width: 980px) {
   .info__footer > li{
       margin:8px 0;
   }
}
.info__footer > li:after{
   content:"";
   position: absolute;
   right:0;
   top:10%;
   bottom:10%;
   width:1px;
   background: #282828;
}
.info__footer > li:last-child:after{
   display: none;
}
footer .btn__footer__family {
   position:absolute;
   right:28px;
   top: 50%;
   transform: translate(0,-50%);
   -ms-transform: translate(0,-50%);
   -moz-transform: translate(0,-50%);
   -webkit-transform: translate(0,-50%);
   border:1px solid #bbb;
   /*border-radius:4px 4px;*/
   cursor: pointer;
   padding:4px 8px;
   text-align: center;
   min-width: 160px;
   background: #fff;
   transition:all ease 0.3s;
}
footer .btn__footer__family .tit{
   font-size: 13px;
   color:#282828;
   transition: all ease 0.3s;
}
footer .btn__footer__family .tit i{
   transform:rotate(0);
   transition: all ease 0.3s;
}
/*
footer .btn__footer__family.on {
   background: #444;
}*/
/*
footer .btn__footer__family.on .tit {
   color:#fff;
}*/
footer .btn__footer__family.on .tit i{
   transform:rotate(-180deg);
}
footer .btn__footer__family .family_site_list {
   position:absolute;
   bottom:100%;
   right:-1px;
   min-width:160px;
   border:1px solid #bbb;
   overflow:hidden;
   /*border-radius: 4px 4px;
   transform: translate3d(0,-100%,0);
   opacity:0;
   box-shadow: 0 0 0 #ccc;*/
   max-height:0;
   visibility: hidden;
   opacity: 0;
   transition: all ease 0.3s;
}
footer .btn__footer__family.on .family_site_list {
   /*opacity:1;
   transform: translate3d(0,-110%,0);
   box-shadow: 1px 1px 2px #ccc;*/
   max-height:100px;
   visibility: visible;
   opacity: 1;
}
footer .btn__footer__family .family_site_list li {
   white-space: nowrap;
   line-height: 20px;
   text-align: right;
   font-size: 13px;
   color:#282828;
   padding:4px 8px;
   background: #fff ;
   border-bottom: 1px solid #bbb;
   height:28px;
   cursor: pointer;
}
footer .btn__footer__family .family_site_list li i{
   color:#999;
   margin:0 0 0 8px;
}
footer .btn__footer__family .family_site_list li:last-child {
   border-bottom: none;
}
@media screen and (min-width: 0px) and (max-width: 980px) {
   footer .btn__footer__family {
       right: 16px;
       top: -8%;
       transform: translate(0,0);
       -ms-transform: translate(0,0);
       -moz-transform: translate(0,0);
       -webkit-transform: translate(0,0);
   }
}
.btn__go_top {
   position:fixed;
   right:24px;
   bottom:-20px;
   width:40px;
   height:40px;
   background: rgba(0,0,0,0.4);
   cursor: pointer;
   z-index: 1000;
   border-radius: 4px 4px;
   transition:all ease 0.2s;
   opacity: 0;
}
.btn__go_top.on {
   bottom:20px;
   opacity: 1;
}
.btn__go_top i {
   color:#fff;
   font-size:24px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform:translate(-50%,-50%) rotate(180deg) ;
   -ms-transform:translate(-50%,-50%) rotate(180deg) ;
   -moz-transform:translate(-50%,-50%) rotate(180deg) ;
   -webkit-transform:translate(-50%,-50%) rotate(180deg) ;
}
/* footer fixed! 190521 END */