/* header */
header {
    position:fixed;
    z-index:900;
    top:0;
    left:0;
    right:0;
    transition: all ease 0.3s;
}
header .header-bg {
    position:absolute;
    top:-110%;
    left:0;
    width:100%;
    height:100%;
    background:rgba(20,20,20,0);
    transition: all ease 0.5s;
}
    header.js_scroll_action .header-bg {
        top:0;
        background:rgba(20,20,20,1);
        transition: all ease 0.5s;
    }
header .width_limiter{
    margin:0 auto;
    padding:0 1rem;
    max-width:1280px;
    height:6rem;
    transition: all ease 0.3s;
}
    header.js_scroll_action .width_limiter{
        height:4rem; 
    }
/* header end */

/* header-scroll-nav */
header .scroll_nav {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:3px;
    background:#fff;
    border-bottom:1px solid #eee;
    transition:all ease 0.3s;
}
header .scroll_nav .percent{
    position:absolute;
    top:0;
    left:0;
    height:3px;
    width:100%;
    background:#b388ff;
    transform:scale3d(0,1,1);
    transform-origin:0 0;
}
/* header-scroll-nav end */

/* header_logo */
header .header_logo_box {
    width:120px;
    height:32px;
    cursor:pointer;
    margin:0 40px 0 0;
    background-image: url(../img/common/logo_full.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 120px auto;
}
    header.js_scroll_action .header_logo_box {
        background-image: url(../img/common/logo_full_white.svg);
        background-size: 80px auto;
    }
/* header_logo end */

/* header_menu_box */
header .header_menu_area {
    width:calc(100% - 160px);
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu_area {
        position:absolute;
        right:0%;
        top:100%;
        width:100%;
        opacity:0;
        transform:translate3d(100%,0,0);
        transition:all ease 0.3s;
        flex-direction: column;
        background-color: rgba(255,255,255,0.8);
        height:calc(100vh - 4rem);
        overflow:auto;
        padding:0 2rem 0 0;
    }
    header .header_menu_area.js_is_active {
        opacity:1;
        transform:translate3d(0,0,0);
        transition:all ease 0.3s;
    }
    header.js_scroll_action .header_menu_area.js_is_active {
        background-color: rgba(0,0,0,0.6);
        transition:all ease 0.3s;
    }
}
header .header_menu_box.right {
    margin: 0 0 0 auto;
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu_box {
        width:60%;
        margin: 0 0 0 auto;
        flex-direction: column;
    }
}

header .header_menu {
    margin:0 2rem 0 0;	
    cursor: pointer;
}
header .header_menu:last-child {
    margin: 0 0 0 0;
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu {
        flex-basis: 100%;
        margin:0 0 0 0;
        padding:0 0 0 0;
    }
}
header .header_menu .txt{
    font-size:18px;
    font-weight: 500;
    padding:0.6rem 0.4rem;
    transition: all ease 0.3s;
}
    header.js_scroll_action .header_menu .txt{
        font-size:14px;
        color:#fff;
    }
@media screen and (min-width: $header_device_change) {
    header .header_menu .txt i{
        display: none;
    }
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu .txt{
        font-size:16px;
        text-align: right;
        padding:0.8rem 0.4rem;
    }
    header.js_scroll_action .header_menu .txt{
        color:#fff;
    }
    header .header_menu.js_is_mo_active .txt i{
        display: inline-block;
        transition: all ease 0.3s;
    }
    header .header_menu.js_is_mo_active .txt i{
        transform: rotate(-90deg);
    }
}
@media screen and (min-width: $header_device_change) {
    header .header_menu:hover .txt{
        color:#7852e8;
    }
}
header .header_menu .txt .icon{
    display:none;
    font-size:0;
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu .txt .icon{
        display:inline-block;
        vertical-align:middle;
    }
}
header .header_menu .border{
    position:absolute;
    left:0;
    bottom:0;
    width:0%;
    background:#7852e8;
    border-radius:2px;
    height:2px;
    transition: all ease 0.3s;
}
@media screen and (min-width: $header_device_change) {
    header .header_menu:hover .border{
        width:100%;
        transition: all ease 0.3s;
    }
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu .border{
        display:none;
    }
}
header .header_sub_menu_box {
    position: absolute;
    top:100%;
    left:50%;
    white-space: nowrap;
    text-align: center;
    opacity:0;
    visibility: hidden;
    transition: all ease 0.3s;
    transform: translate3d(-50%,20%,0);
}
@media screen and (min-width: $header_device_change) {
    header .header_menu:hover .header_sub_menu_box{
        opacity:1;
        visibility: visible;
        transform: translate3d(-50%,0,0);
    }
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_sub_menu_box {
        position: relative;
        top:auto;
        left:auto;
        white-space: nowrap;
        text-align: center;
        opacity:0;
        visibility: hidden;
        transition: all ease 0.3s;
        max-height:0;
        transform: translate3d(0,0,0);
    }
    header .header_sub_menu_box.js_is_mo_active {
        opacity:1;
        visibility: visible;
        max-height:300px;
    }
}
header .header_menu .space_setter {
    margin:1rem 0 0;
    background: #fff;
    box-shadow: 4px 16px 28px rgba(0,0,0,0.1), 4px 4px 12px rgba(0,0,0,0.07);
    border-radius: 8px;
    padding:0.8rem 0;
}
    header.js_scroll_action .header_menu .space_setter {
        background: rgba(20, 20, 20, 0.8);
    }
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu .space_setter {
        margin:0 0;
        background:transparent;
        box-shadow: none;
        border-radius: 0;
        padding:0.8rem 0;
    }
    header.js_scroll_action .header_menu .space_setter {
        background:transparent;
    }
}
header .header_sub_menu_box li{
    padding:0.8rem 1.2rem;
    transition: all ease 0.3s;
    font-size:14px;
}
@media screen and (min-width: $header_device_change) {
    header .header_sub_menu_box li:hover{
        color:#7852e8;
        font-weight:500
    }
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_sub_menu_box li{
        text-align: right;
    }
}
header.js_scroll_action .header_sub_menu_box li {
    color:#999;
}
@media screen and (min-width: $header_device_change) {
    header.js_scroll_action .header_sub_menu_box li:hover{
        color:#fff;
        font-weight:500
    }
}
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header.js_scroll_action .header_sub_menu_box li {
        color:#ddd;
    }
}
/* header_menu_box end */

/* header_menu_icn */
header .header_menu_icn {
    position:absolute;
    right:0;
    width:6rem;
    height:6rem;
    cursor:pointer;
    visibility:hidden;
    opacity:0;
    transition: visibility ease 0.3s, opacity ease 0.3s, width ease 0.3s, height ease 0.3s;
}
    header.js_scroll_action .header_menu_icn {
        width:4rem;
        height:4rem;
        transition: width ease 0.3s, height ease 0.3s;
    }
@media screen and (min-width: 0px) and (max-width: $header_device_change) {
    header .header_menu_icn {
        visibility:visible;
        opacity:1;
        transition: visibility ease 0.3s, opacity ease 0.3s;
    }
}
header .header_menu_icn .bar{
    position: absolute;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #7852e8;
    border-radius:2px;
}
    header.js_scroll_action .header_menu_icn .bar {
        background:#fff;
    }
    header .header_menu_icn .bar1{
        top:30%;
        opacity:1;
        transition: top 0.2s ease, opacity 0.2s ease;
        transition-delay: 0.3s;
    }
    header .header_menu_icn .bar2{
        top:calc(50% - 1px);
        transition: transform 0.2s ease;
        transition-delay: 0s;
    }
    header .header_menu_icn .bar3{
        top:calc(50% - 1px);
        transition: transform 0.2s ease;
        transition-delay: 0s;
    }
    header .header_menu_icn .bar4{
        bottom:30%;
        opacity:1;
        transition: bottom 0.2s ease, opacity 0.2s ease;
        transition-delay: 0.3s;
    }
    header .header_menu_icn.js_is_active .bar1 {
        top:calc(50% - 1px);
        opacity:0;
        transition: top 0.2s ease, opacity 0.2s ease;
        transition-delay: 0s;
    }
    header .header_menu_icn.js_is_active .bar2 {
        transform: rotate(45deg);
        transition: transform 0.2s ease;
        transition-delay: 0.3s;
    }
    header .header_menu_icn.js_is_active .bar3 {
        transform: rotate(-45deg);
        transition: transform 0.2s ease;
        transition-delay: 0.3s;
    }
    header .header_menu_icn.js_is_active .bar4 {
        bottom:calc(50% + 1px);
        opacity:0;
        transition: bottom 0.2s ease, opacity 0.2s ease;
        transition-delay: 0s;
    }
/* header_menu_icn end */