.thumb_box {
    border: 1px solid #eee;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg_box {
    border: 1px solid #eee;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.has_radius_md {
    border-radius: 4px 4px;
    overflow: hidden;
}

.no_border {
    border: none;
}

.ratio_square {
    padding: 100% 0 0;
}

.ratio_hd {
    padding: 56.25% 0 0;
}

.ratio_channel {
    padding: 80% 0 0;
}