.modal_body {
    // padding: 0.8rem 2rem;
}
.form_box__float {
    font-size: 0;
    padding: 24px 0 12px;
    border-radius: 4px 4px;
}
.form__float {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 8px;
    border-bottom: 2px solid #ccc;
    width: 100%;
    transition: border ease 0.2s;
    background: #f5f5f5;
    border-radius: 4px 4px 0 0;
}
.form__float:focus {
    border-bottom: 2px solid #7852e8;
}
.form__float:valid {
    border-bottom: 2px solid #24b47e;
}
// .input__float:focus:invalid {
//     border-bottom: 2px solid crimson;
// }
.form__float::placeholder {
    opacity:0;
}
.form__float:focus::placeholder {
    opacity:1;
}
// .input__float:invalid {
//     border-bottom: 2px solid crimson;
// }
.tit__form__float {
    position: absolute;
    left: 4px;
    top: 7px;
    transform: translate3d(0, 0, 0) scale(1);
    transition: all ease 0.3s;
    font-size: 16px;
    color:#555;
    line-height: 24px;
    transform-origin: left top;
}
.form__float:focus ~ .tit__form__float {
    transform: translate3d(0, -120%, 0) scale(0.8);
    // font-size: 12px;
    color: #7852e8;
}
.form__float:valid ~ .tit__form__float {
    transform: translate3d(0, -120%, 0) scale(0.8);
    // font-size: 12px;
    color: #24b47e;
}

.tarea__float {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 8px;
    border-bottom: 2px solid #ccc;
    width: 100%;
    transition: border ease 0.2s;
    background: #f5f5f5;
    border-radius: 4px 4px 0 0;
    height:80px;
}
.tarea__float:focus {
    border-bottom: 2px solid #7852e8;
}
.tarea__float:focus ~ .tit__form__float {
    transform: translate3d(0, -120%, 0) scale(0.8);   
    color: #7852e8;
}
.tarea__float.is_filled {
    border-bottom: 2px solid #24b47e !important;
}
.tarea__float ~ .tit__form__float.is_filled {
    transform: translate3d(0, -120%, 0) scale(0.8) !important;
    color: #24b47e !important;
}
// .input__float:focus:invalid ~ .tit__input__float{
//     transform: translate3d(0, -200%, 0);
//     font-size: 12px;
//     color: crimson;
// }

.icn_required {
    color:crimson
}

.form_box {
    font-size: 0;
    margin: 0 0 1rem;
}

.tit__form_box {
    padding: 4px 4px;
    overflow: hidden;
    text-align: left;
}

.tit__form_box .txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #282828;
    line-height: 20px;
}

.info__form_box {
    font-size: 12px;
    padding: 4px 4px;
    color: #999;
}

// textarea {
//     font-size: 14px;
//     padding: 12px 12px;
//     border: 1px solid transparent;
//     transition: all ease 0.2s;
//     background: #fff;
//     width: 100%;
// }

// textarea:focus {
//     border: 1px solid #7852e8;
// }

textarea.textarea__document {
    font-size: 16px;
    padding: 16px 16px;
    width: 100%;
    min-height: 80vh;
    border-radius: 4px 4px;
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    max-width: 980px;
    margin: 0 auto;
}

select {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 28px 8px 8px;
    border: 1px solid #ccc;
    width: 100%;
    transition: border ease 0.2s;
    background: #fff url(/static/kr/img/music/icon__select.svg) no-repeat right center;
    background-size: 20px 8px;
}

select.no_style {
    font-size: 14px;
    line-height: 24px;
    color: #999;
    padding: 0 16px 0 0;
    border: none;
    width: 100%;
    background: #fff url(/static/kr/img/music/icon__select.svg) no-repeat right center;
    background-size: 12px 4.8px;
}

.ipt {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 8px;
    border: 1px solid #ccc;
    width: 100%;
    transition: border ease 0.2s;
    background: #fff;
}

.ipt:focus {
    border: 1px solid #000;
}

.ipt__sm {
    padding: 6px 6px;
}

.upload {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 8px 8px 28px;
    border: 1px solid #ccc;
    width: 100%;
    transition: border ease 0.2s;
    background: #fff;
    width: 100%;
    display: block;
}

.upload input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload .icon {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
}

.check {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 26px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
}

.check_reverse {
    padding: 0 26px 0 0;
}

.check input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.check .icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: url(/static/kr/img/music/icon__check_box.svg) no-repeat left 0;
    background-size: 20px 60px;
}

.check_reverse .icon {
    left: auto;
    right: 0;
}

.check input:checked + .icon {
    background: url(/static/kr/img/music/icon__check_box.svg) no-repeat left -20px;
    background-size: 20px 60px;
}

.check input:disabled + .icon {
    background: url(/static/kr/img/music/icon__check_box.svg) no-repeat left -40px;
    background-size: 20px 60px;
}

.radio {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 26px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;

    font-size: 16px;
}

.radio_reverse {
    padding: 0 26px 0 0;
}

.radio input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.radio .icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: url(/static/kr/img/music/icon__radio_box.svg) no-repeat left 0;
    background-size: 20px 60px;
}

.radio_reverse .icon {
    left: auto;
    right: 0;
}

.radio input:checked + .icon {
    background: url(/static/kr/img/music/icon__radio_box.svg) no-repeat left -20px;
    background-size: 20px 60px;
}

.radio input:disabled + .icon {
    background: url(/static/kr/img/music/icon__radio_box.svg) no-repeat left -40px;
    background-size: 20px 60px;
}

.space_inner__ipt .upload {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 8px 8px 36px;
    border: 1px solid #ccc;
    width: 100%;
    transition: border ease 0.2s;
    background: #fff;
}

.space_inner__ipt .upload:active {
    border: 1px solid #000;
}

.space_inner__ipt .upload_reverse {
    padding: 0 36px 0 0;
}

.space_inner__ipt .upload .icon {
    left: 8px;
    top: 8px;
    color: #34a9ff;
}

.space_inner__ipt .upload_reverse .icon {
    left: auto;
    right: 8px;
}

.space_inner__ipt .upload .tit {
    color: #ccc;
}

.space_inner__ipt .upload .tit.on {
    color: #555;
}

.space_inner__toggle {
    padding: 6px 0;
}

.check {
    font-size: 14px;
    margin: 6px 6px;
}

.radio {
    font-size: 14px;
    margin: 6px 6px;
}

.space_inner__ipt {
    padding: 4px 4px;
}

// .swal2-icon {
//     position: relative;
//     justify-content: center;
//     width: 5em;
//     height: 5em;
//     margin: 1.25em auto 1.875em;
//     border: 0.25em solid transparent;
//     border-radius: 50%;
//     line-height: 5em;
//     cursor: default;
//     box-sizing: content-box;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     zoom: normal;
// }

// .swal2-icon.swal2-success {
//     border-color: #a5dc86;
// }
// .swal2-icon.swal2-success [class^="swal2-success-circular-line"] {
//     position: absolute;
//     width: 3.75em;
//     height: 7.5em;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//     border-radius: 50%;
// }
// .swal2-icon.swal2-success [class^="swal2-success-circular-line"][class$="left"] {
//     top: -0.4375em;
//     left: -2.0635em;
//     -webkit-transform: rotate(-45deg);
//     transform: rotate(-45deg);
//     -webkit-transform-origin: 3.75em 3.75em;
//     transform-origin: 3.75em 3.75em;
//     border-radius: 7.5em 0 0 7.5em;
// }
// .swal2-icon.swal2-success [class^="swal2-success-circular-line"][class$="right"] {
//     top: -0.6875em;
//     left: 1.875em;
//     -webkit-transform: rotate(-45deg);
//     transform: rotate(-45deg);
//     -webkit-transform-origin: 0 3.75em;
//     transform-origin: 0 3.75em;
//     border-radius: 0 7.5em 7.5em 0;
// }
// .swal2-icon.swal2-success .swal2-success-ring {
//     position: absolute;
//     top: -0.25em;
//     left: -0.25em;
//     width: 100%;
//     height: 100%;
//     border: 0.25em solid rgba(165, 220, 134, 0.3);
//     border-radius: 50%;
//     z-index: 2;
//     box-sizing: content-box;
// }
// .swal2-icon.swal2-success .swal2-success-fix {
//     position: absolute;
//     top: 0.5em;
//     left: 1.625em;
//     width: 0.4375em;
//     height: 5.625em;
//     -webkit-transform: rotate(-45deg);
//     transform: rotate(-45deg);
//     z-index: 1;
// }
// .swal2-icon.swal2-success [class^="swal2-success-line"] {
//     display: block;
//     position: absolute;
//     height: 0.3125em;
//     border-radius: 0.125em;
//     background-color: #a5dc86;
//     z-index: 2;
// }
// .swal2-icon.swal2-success [class^="swal2-success-line"][class$="tip"] {
//     top: 2.875em;
//     left: 0.875em;
//     width: 1.5625em;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
// }
// .swal2-icon.swal2-success [class^="swal2-success-line"][class$="long"] {
//     top: 2.375em;
//     right: 0.5em;
//     width: 2.9375em;
//     -webkit-transform: rotate(-45deg);
//     transform: rotate(-45deg);
// }

// .swal2-animate-success-icon .swal2-success-line-tip {
//     -webkit-animation: swal2-animate-success-line-tip 0.75s;
//     animation: swal2-animate-success-line-tip 0.75s;
// }

// .swal2-animate-success-icon .swal2-success-line-long {
//     -webkit-animation: swal2-animate-success-line-long 0.75s;
//     animation: swal2-animate-success-line-long 0.75s;
// }

// .swal2-animate-success-icon .swal2-success-circular-line-right {
//     -webkit-animation: swal2-rotate-success-circular-line 4.25s ease-in;
//     animation: swal2-rotate-success-circular-line 4.25s ease-in;
// }
// @-webkit-keyframes swal2-animate-success-line-tip {
//     0% {
//         top: 1.1875em;
//         left: 0.0625em;
//         width: 0;
//     }
//     54% {
//         top: 1.0625em;
//         left: 0.125em;
//         width: 0;
//     }
//     70% {
//         top: 2.1875em;
//         left: -0.375em;
//         width: 3.125em;
//     }
//     84% {
//         top: 3em;
//         left: 1.3125em;
//         width: 1.0625em;
//     }
//     100% {
//         top: 2.8125em;
//         left: 0.875em;
//         width: 1.5625em;
//     }
// }

// @keyframes swal2-animate-success-line-tip {
//     0% {
//         top: 1.1875em;
//         left: 0.0625em;
//         width: 0;
//     }
//     54% {
//         top: 1.0625em;
//         left: 0.125em;
//         width: 0;
//     }
//     70% {
//         top: 2.1875em;
//         left: -0.375em;
//         width: 3.125em;
//     }
//     84% {
//         top: 3em;
//         left: 1.3125em;
//         width: 1.0625em;
//     }
//     100% {
//         top: 2.8125em;
//         left: 0.875em;
//         width: 1.5625em;
//     }
// }

// @-webkit-keyframes swal2-animate-success-line-long {
//     0% {
//         top: 3.375em;
//         right: 2.875em;
//         width: 0;
//     }
//     65% {
//         top: 3.375em;
//         right: 2.875em;
//         width: 0;
//     }
//     84% {
//         top: 2.1875em;
//         right: 0;
//         width: 3.4375em;
//     }
//     100% {
//         top: 2.375em;
//         right: 0.5em;
//         width: 2.9375em;
//     }
// }

// @keyframes swal2-animate-success-line-long {
//     0% {
//         top: 3.375em;
//         right: 2.875em;
//         width: 0;
//     }
//     65% {
//         top: 3.375em;
//         right: 2.875em;
//         width: 0;
//     }
//     84% {
//         top: 2.1875em;
//         right: 0;
//         width: 3.4375em;
//     }
//     100% {
//         top: 2.375em;
//         right: 0.5em;
//         width: 2.9375em;
//     }
// }

// @-webkit-keyframes swal2-rotate-success-circular-line {
//     0% {
//         -webkit-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//     }
//     5% {
//         -webkit-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//     }
//     12% {
//         -webkit-transform: rotate(-405deg);
//         transform: rotate(-405deg);
//     }
//     100% {
//         -webkit-transform: rotate(-405deg);
//         transform: rotate(-405deg);
//     }
// }

// @keyframes swal2-rotate-success-circular-line {
//     0% {
//         -webkit-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//     }
//     5% {
//         -webkit-transform: rotate(-45deg);
//         transform: rotate(-45deg);
//     }
//     12% {
//         -webkit-transform: rotate(-405deg);
//         transform: rotate(-405deg);
//     }
//     100% {
//         -webkit-transform: rotate(-405deg);
//         transform: rotate(-405deg);
//     }
// }


.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
  }
  .success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
  }
  .success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
  }
  .success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
  }
  .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
  }
  .success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
  }
  .success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
  }
  .success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
  }
  .success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
  }
  .success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
  }
  
  @keyframes rotate-circle {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @keyframes icon-line-tip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes icon-line-long {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  