.tool_tip {
    position: absolute;
    top: calc(100% + 12px);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    padding: 10px 10px;
    background: #7852e8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 1rem;
    white-space: nowrap;
    line-height: 1.8em;
    box-shadow: 0 4px 35px 0 rgba(23, 55, 87, 0.1), 0 5px 15px 0 rgba(0, 0, 0, 0.07);
    opacity: 1;
    transition: all ease 0.3s;
    visibility: visible;
}
.tool_tip.js_is_hide {
    opacity: 0;
    visibility: hidden;
}
.tool_tip__bottom:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: calc(50% - 8px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #7852e8 transparent;
}
