
body {
    position:relative;
    color:#444;
    font-family: 'Noto Sans KR', 'Dotum', 'Helvetica', 'AppleSDGothicNeo', sans-serif;
    font-weight:300;
    -webkit-text-size-adjust: none;
}
body.js-is-limit {
    height:100vh;
    overflow:hidden;
}
a.full {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
a.div {
    display:block;
}
::selection {
    background: #eae5ff ; /*main color lighter*/
}
::-moz-selection {
    background: #eae5ff ; /*main color lighter*/
}