html {
    font-size: 14px;
    font-weight: 300;
}
@media screen and (min-width: 600px) and (max-width: 719px) {
    html {
        font-size: 13.6px;
    }
}
@media screen and (min-width: 480px) and (max-width: 599px) {
    html {
        font-size: 13.3px;
    }
}
@media screen and (min-width: 400px) and (max-width: 479px) {
    html {
        font-size: 13px;
    }
}
@media screen and (min-width: 360px) and (max-width: 399px) {
    html {
        font-size: 12.6px;
    }
}
@media screen and (min-width: 330px) and (max-width: 359px) {
    html {
        font-size: 12.3px;
    }
}
@media screen and (min-width: 0px) and (max-width: 329px) {
    html {
        font-size: 12px;
    }
}
body.js_is_limit {
    height: 100vh;
    overflow: hidden;
}
section {
    min-height: 100vh;
}
.subpage_visual {
    height: 32rem;
    background: url(../img/sub/sub_bg_01.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
.subpage_visual .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2) !important;
}
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}
.subpage_visual .tit {
    font-size: 4rem;
    position: absolute;
    color: #fff;
    // font-family: 'Do Hyeon', sans-serif;
    font-family: 'Jua', sans-serif;
    // font-family: 'Sunflower', sans-serif;

    // font-family: 'Black And White Picture', sans-serif;
    // font-family: 'East Sea Dokdo', cursive;
    // font-family: 'Hi Melody', cursive;
    // font-family: 'Gamja Flower', cursive;
    // font-family: 'Poor Story', cursive;
    // font-family: 'Gaegu', cursive;
    // font-family: 'Gugi', cursive;
    // font-family: 'Black Han Sans', sans-serif;
    // font-family: 'Nanum Pen Script', cursive;
    // font-family: "Single Day", cursive;
    color: ghostwhite;
}
// .subpage_visual canvas {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 40%;
// }

.subpage_visual .circle {
    animation: grow 3s linear;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
}

@keyframes grow {
    to {
        opacity: 0;
        transform: scale3d(5,5,5);
        perspective: 3000;
    }
}


// /* naver_map_module */
.map_canvas {
    height: 408px;
    background: #fff;
    // border: 1px solid #fff;
}
.map_canvas .map_marker {
    text-align: center;
    padding: 0.4rem 0.4rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777;
    font-size: 0.8rem;
    word-break: keep-all;
}
// /* naver_map_module end */