$pc_max_width : 1200px;
$mo_max_width : 720px;
$device_width : 100vw;
$device_pc_start : 1200px;
$header_device_change : 980px;

$pm_cl_500 : #7852e8;
$pm_cl_300 : #d4c9ff;
$pm_cl_100 : #eae5ff;

$cl_er : crimson;
$cl_sc : #24b47e;

$txt_cl_900 : #000;
$txt_cl_700 : #333;
$txt_cl_500 : #555;
$txt_cl_300 : #777;
$txt_cl_100 : #999;

$gl_cl_900 : #999;
$gl_cl_700 : #bbb;
$gl_cl_500 : #ccc;
$gl_cl_300 : #eee;
$gl_cl_100 : #f5f5f5;

$fw_default : 300;