.card_list__news {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.card_list__news li {
    width:calc(50% - 4rem);
    margin:2rem 2rem;
    background:#fff;    
    border-radius: 8px 8px;
    overflow: hidden;
    cursor:pointer;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,0.25), 0 18px 36px -18px rgba(0,0,0,0.3), 0 -12px 36px -8px rgba(0,0,0,0.025);
}
@media screen and (min-width: 0px) and (max-width: 719px) {
    .card_list__news li {
        width:100%;
        margin:2rem 0;
    }
}
.card_list__news .info_box {
    padding:2rem 2rem;
}
.card_list__news li:nth-child(1) .bg_box{
    background-image: 
        url(/img/main/news_1.svg),
        url(/payple-renewal/img/main/news_1.svg);
    background-size: auto 90%;
    background-color: PaleTurquoise;
}
.card_list__news li:nth-child(2) .bg_box{
    background-image: 
        url(/img/main/news_2.svg),
        url(/payple-renewal/img/main/news_2.svg);
        background-size: auto 90%;
        background-color: GhostWhite ;
}
.card_list__news li:nth-child(3) .bg_box{
    background-image: 
        url(/img/main/news_3.svg),
        url(/payple-renewal/img/main/news_3.svg);
        background-size: auto 90%;
        background-color: #70BFE0;
}
.card_list__news li:nth-child(4) .bg_box{
    background-image: 
        url(/img/main/news_4.svg),
        url(/payple-renewal/img/main/news_4.svg);
        background-size: auto 90%;
        background-color: LavenderBlush;
}