/* card_channel */
.card_channel {
   font-size:0;
   text-align: left;
}
.card_channel > li{
   display:inline-block;
   vertical-align: top;
   width:25%;
   transition:all ease 0.2s;
   cursor:pointer;
}
.card_channel__place > li{
   width:33%;
   margin:0 0 40px;
}
@media screen and (min-width: 981px) and (max-width: 1100px) {
}
@media screen and (min-width: 801px) and (max-width: 980px) {
}
@media screen and (min-width: 721px) and (max-width: 800px) {
}
@media screen and (min-width: 421px) and (max-width: 720px) {
}
@media screen and (min-width: 351px) and (max-width: 421px) {
}
@media screen and (min-width: 0px) and (max-width: 350px) {
}
.card_channel .space_setter{
   margin: 4px 4px;
//    border-radius:4px 4px 0 0;
   overflow:hidden;
}
.card_channel .dim_box {
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:0;
   background: rgba(0,0,0,0.4);
}
.card_channel .full_inner {
    position: absolute;
    top:0;
    width:100%;
    left:0;
    height:100%;
    padding:1.6rem 3.2rem 1.6rem 1.6rem;
}
/*.card_channel .full_inner:before {
   position:absolute;
   top:0;
   left:0;
   right:0;
   bottom:25%;
}*/
.card_channel .full_inner .badge__rank_ribbon {
   position:absolute;
   top:0;
   right:0.8rem;
   width:2.8rem;
   height:2.8rem;
   line-height: 2.8rem;
   font-size:1.2rem;
   color:#fff;
   text-align: center;
   background: mediumturquoise ;
}
.card_channel .full_inner .badge__rank_ribbon:before {
   content:"";
   position:absolute;
   top:100%;
   left:0;
   border-bottom: 0.8rem solid transparent;
   border-left:1.4rem solid mediumturquoise ;
}
.card_channel .full_inner .badge__rank_ribbon:after {
   content:"";
   position:absolute;
   top:100%;
   right:0;
   border-bottom: 0.8rem solid transparent;
   border-right:1.4rem solid mediumturquoise;
}
// .card_channel .full_inner .tit{
//    font-size:22px;
//    color:#fff;
//    word-break: keep-all;
//    text-shadow: rgb(136, 136, 136) 1px 1px 1px;
//    max-height: 56px;
//    line-height: 28px;
//    margin:0 0 1rem 0;
// }
.card_channel .tit{
    font-size:18px;
    color:#333;
    word-break: keep-all;
    max-height: calc(44px + 2rem);
    line-height: 22px;
    padding:1rem 0 0 2.4rem;
 }
 .card_channel .tit:before{
     content:"ch.";
     display:block;
     position: absolute;
     top:1rem;
     left:0;
     font-size:18px;
     font-family: 'Promethean';
 }
.card_channel .full_inner .total__track{
   display: inline-block;
   vertical-align: middle;
   font-size:14px;
   color:#fff;
   padding:0 8px 0 0;
   text-shadow: rgb(136, 136, 136) 1px 1px 1px;
}
.card_channel .full_inner .date{
   display: inline-block;
   vertical-align: middle;
   font-size:14px;
   color:#ccc;
   text-shadow: rgb(136, 136, 136) 1px 1px 1px;
}
.card_channel .util_box__card i{
   font-size:32px;
}
.card_channel .util_box__card i:first-child{
   font-size:24px;
}
.card_channel li .util_box__card {
    display:none;
}
.card_channel li:hover .util_box__card {
    display:block;
}
.card_channel__place .util_box__card .btn_play_list {
    width:160px;
}
.card_channel li:hover .tit {
    color:#5A5CD1;
}
/* slider__flow */
.slider_box__flow {
   background: #f5f5f5;
   border:1px solid #eee;
   border-top:none;
   border-radius: 0 0 4px 4px;
   padding:8px 8px;
}
.slider__flow {
   overflow:hidden;
   font-size:0;
   text-align: center;
}
.slide_mover__flow {
   display: inline-block;
   white-space: nowrap;
   transform:translate3d(0,0,0);
    /*animation: slider__flow 8s linear infinite;*/
}
.slide_mover__flow > li {
   display: inline-block;
   vertical-align: top;
   width:64px;
   margin:0 2px;
}
@keyframes slider__flow {
   100% {
       transform:translate3d(-50%,0,0);
   }
}
/* slider__flow end */