/* bannner */
.common_banner_link {
    /* position:absolute;
    bottom:1.2rem;
    left:2rem; */
    font-size:0;
    color:#7852e8;
    transition: all ease 0.2s;
    /*padding:0.4rem 0.4rem;*/
    /*border-bottom:2px solid transparent;*/
}
.common_banner_link .icn_txt {
    /* font-weight:600; */
    font-size:1rem;
    font-weight: 500;
}
.common_banner_link .material-icons{
    font-size:1.4rem;
}
.common_banner_link .material-icons.act2{
    margin-left:-1rem;
}
    @media screen and (min-width: 0px) and (max-width: 880px) {
        .common_banner_link {
            display:none;
        }
    }
    @media screen and (min-width: 720px) {	
        .common_banner_link .material-icons{
            font-size:1.4rem;
            opacity:0;
            transition: all ease 0.2s;
            transition-delay:0.1s;
            margin-left:1rem;
        }
        .common_banner_link .material-icons.act2{
            margin-left:1rem;
            transition-delay:0s;
        }
        .common_banner_link:hover {
            color:#7852e8;
        }
        .common_banner_link:hover .material-icons{
            opacity:1;
            margin-left:0;
            transition-delay:0s;
        }
        .common_banner_link:hover .material-icons.act2{
            opacity:1;
            margin-left:-1rem;
            transition-delay:0.1s;
        }
    }
.common_banner_mobile_link {
    display:none;
}
    @media screen and (min-width: 0px) and (max-width: 880px) {
        .common_banner_mobile_link {
            display:block;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
        }
    }
/* banner end */


.featured-article {
    position: relative;
    min-height: 200px;
    max-width: 1080px;
    margin: 0 auto 60px;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    transition: .2s ease-out;
}
@media (min-width: 880px) {
.featured-article {
    display: flex;
    align-items: stretch;
    padding: 20px;
}
}
@media (min-width: 880px){
.featured-article-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
}
@media (min-width: 880px) {
.featured-article-image:before {
    content: "";
    width: 60%;
    position: absolute;
    left: 0;
    top: 50%;
    height: 150%;
    background-color: #fff;
    transform: translate(-60px,-50%) rotate(12deg);
    z-index: 1;
    transition: transform .2s ease-out;
}
}
.featured-article-image>img {
    position: relative;
    width: 100%;
    object-fit: cover;
    max-height: 60vw;
}
@media (min-width: 880px) {
.featured-article-image>img {
    position: absolute;
    max-height: none;
    width: 50%;
    right: 0;
    height: 100%;
}}

.featured-article-content {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20px;
    position: relative;
    z-index: 2;
}
@media (min-width: 880px) {
.featured-article-content {
    padding: 20px 0 0 20px;
}
}
.featured-article-type {
    font: 600 15px Camphor;
    color: #aab7c4;
    text-transform: uppercase;
    margin: 0 0 12px;
}
.featured-article-title {
    font-weight: 500;
    margin: 0 0 10px;
    line-height: 32px;
    color: #32325d;
	transition: color .1s;
	font-size:1.8rem;
}
.common-BodyText {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #525f7f;
}
.featured-article-subtitle, .featured-article-title {
	/* max-width: 330px; */
	word-break: break-all;
	text-align: justify;
}