.area__list__channel {
    display: inline-block;
    vertical-align: top;
    width:calc(60% - 2rem);
    margin:0 2rem 0 0;
}
.area__blog_card__artist_interview {
    display: inline-block;
    vertical-align: top;
    width:40%;
}
.list__channel li{
    /*background: #f3f3f3;*/
    font-size:0;
    // border-bottom:1px solid #eee;
    padding:4px 0;
}

.list__channel li:nth-child(even) {
    /*background: #fff;*/
}
.list__channel li:hover{
    background: #f9f9f9;
}
.list__channel li .number {
    display: inline-block;
    vertical-align: middle;
    width:40px;
    font-size:16px;
    font-weight: 700;
    text-align: center;
}
.list__channel li .thumb_box {
    display: inline-block;
    vertical-align: middle;
    width:60px;
    height:40px;
}
.list__channel li .tit {
    display: inline-block;
    vertical-align: middle;
    width:calc(100% - 120px);
    padding:0 8px;
    font-size:14px;
}
.list__channel li .util_box {
    display: inline-block;
    vertical-align: middle;
    width:80px;
    text-align: center;
}
.list__channel li .util_box i{
    cursor: pointer;
    color: #8B8B8B !important;
    font-size:16px;
    margin:0 12px 0 0;
}
.list__channel li .util_box i:first-child{
    font-size:16px;
}
.list__channel li .util_box i.on{
    color:#8B8B8B;
}
.list__channel li .total__track {
    display: inline-block;
    vertical-align: middle;
    width:80px;
    text-align: center;
    font-size:13px;
    color:#999;
    padding:0 4px;
}


/* today interview */
.today__interview {
}
.interview_detail {
    display: inline-block;
    vertical-align: top;
    margin:4px 4px;
    border:1px solid #ccc;
    width:232px;
    font-size:0;
}
.today__interview .thumb_box{
    width:230px;
    height:120px;
    border:none;
}
.today__interview .artist_name {
    padding:4px 8px;
}
.today__interview .font_lg_sub {
    padding:4px 8px;
}
/* today interview end */